 {
    "immich": {
        "url": "{{you immich url}}/api",
        "key": "{{you immich API key}}" },
    "wordpress": {
        "url": "{{you wordpress URL}}/wp-json/wp/v2",
        "user": "{{an application username that has write privilieges}}",
        "pass": "application password"},
    "stateFile": "state.json"
}
